{{! if plugin is disabled then no options 
    related to plugin should show in category settings }}
{{#if siteSettings.response_enabled}}
<section class='field'>
    {{! if "allow response bot to reply all new topics" is disabled 
        then option to enable response option shows in category settings }}
    {{#unless siteSettings.allow_response_bot_to_reply_all_new_topics}}
    <div class="enable-response-bot">
        <label class="checkbox-label">
            {{input type="checkbox" checked=category.enable_response_bot}}
            {{i18n 'feature_response.enable_response_bot'}}
        </label>
    </div>
    {{else}}
    {{! if "allow response bot to reply all new topics" is enabled
        then option to disable response option shows in category settings }}
    <div class="disable-response-bot">
        <label class="checkbox-label">
            {{input type="checkbox" checked=category.disable_response_bot}}
            {{i18n 'feature_response.disable_response_bot'}}
        </label>
    </div>
    {{/unless}}
</section>
{{/if}}
